.version.usluge /* version checker */
{
	color: #0000E7;
	background-color: #C0E7CB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2000px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;
}

#u5753
{
	z-index: 106;
	height: 40px;
	top: 0px;
}

#u5753-bw
{
	z-index: 106;
}

#u5747
{
	z-index: 101;
	width: 8px;
	margin-left: 18px;
}

#u5804
{
	z-index: 219;
	top: 5px;
	left: 50%;
	margin-left: -425px;
}

#u5806
{
	z-index: 220;
	top: 6px;
	left: 50%;
	margin-left: -391px;
}

#u5749
{
	z-index: 103;
	height: 62px;
	top: 40px;
}

#u5749-bw
{
	z-index: 103;
}

#top
{
	left: -82px;
	margin-top: 32px;
}

#pu5750
{
	width: 0.01px;
	padding-bottom: 54px;
	margin-left: 118px;
	margin-top: -10px;
}

#u5750
{
	z-index: 104;
	top: 48px;
	left: 50%;
	margin-left: -362px;
}

#menuu5754
{
	z-index: 107;
	width: 677px;
	top: 49px;
	left: 50%;
	margin-left: -191px;
}

#u5755
{
	width: 151px;
	min-height: 53px;
	margin-right: -10000px;
}

#u5756
{
	width: 151px;
	padding-bottom: 29px;
}

#u5756:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u5756.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u5758-4
{
	width: 78px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 36px;
}

#u5756:hover #u5758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u5756.MuseMenuActive #u5758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u5783
{
	width: 145px;
	min-height: 53px;
	margin-right: -10000px;
	left: 153px;
}

#u5786
{
	width: 145px;
	padding-bottom: 29px;
}

#u5786:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u5786.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u5788-4
{
	width: 58px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 36px;
}

#u5786:hover #u5788-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u5789
{
	z-index: 120;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 19px;
	left: 94px;
}

#u5786:hover #u5789
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5784
{
	width: 139px;
	top: 53px;
}

#u6099
{
	width: 137px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6099:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6101-4
{
	width: 93px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 10px;
}

#u6099:hover #u6101-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u6099.MuseMenuActive #u6101-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u6102
{
	z-index: 129;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 108px;
}

#u5786.MuseMenuActive #u5789,#u6099:hover #u6102
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6103
{
	width: 203px;
	left: 139px;
}

#u6123
{
	width: 201px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6123:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6125-4
{
	width: 65px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 64px;
}

#u6123:hover #u6125-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u6123.MuseMenuActive #u6125-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u6135
{
	width: 201px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6123.MuseMenuActive,#u6135:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6137-4
{
	width: 41px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 76px;
}

#u6135:hover #u6137-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u6135.MuseMenuActive #u6137-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u6142
{
	width: 201px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6135.MuseMenuActive,#u6142:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6145-4
{
	width: 64px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 64px;
}

#u6142:hover #u6145-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u6142.MuseMenuActive #u6145-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u6151
{
	width: 201px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6142.MuseMenuActive,#u6151:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6153-4
{
	width: 58px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 67px;
}

#u6151:hover #u6153-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6151.MuseMenuActive #u6153-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6156
{
	width: 201px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6151.MuseMenuActive,#u6156:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6159-4
{
	width: 160px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 16px;
}

#u6156:hover #u6159-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u6156.MuseMenuActive #u6159-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u6163
{
	width: 201px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6156.MuseMenuActive,#u6163:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6164-4
{
	width: 23px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 85px;
}

#u6163:hover #u6164-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 23px;
	margin: 0px -10000px 0px 0px;
}

#u6163.MuseMenuActive #u6164-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 23px;
	margin: 0px -10000px 0px 0px;
}

#u6104,#u6122,#u6134,#u6141,#u6148,#u6155,#u6162,#u6169
{
	width: 203px;
}

#u6172
{
	width: 201px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6163.MuseMenuActive,#u6172:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6172.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6173-4
{
	width: 117px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u6172:hover #u6173-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u6172.MuseMenuActive #u6173-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5785,#u6098,#u6108
{
	width: 139px;
}

#u6111
{
	width: 137px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6099.MuseMenuActive,#u6111:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6111.MuseMenuActive
{
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6112-4
{
	width: 54px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 30px;
}

#u6111:hover #u6112-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6113
{
	z-index: 180;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 89px;
}

#u6099.MuseMenuActive #u6102,#u6111:hover #u6113
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6111.MuseMenuActive #u6113
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6109
{
	width: 125px;
	left: 139px;
}

#u6177
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6177:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6179-4
{
	width: 37px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 39px;
}

#u6177:hover #u6179-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u6177.MuseMenuActive #u6179-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u6189
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6177.MuseMenuActive,#u6189:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6190-4
{
	width: 96px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 9px;
}

#u6189:hover #u6190-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u6189.MuseMenuActive #u6190-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u6110,#u6176,#u6186,#u6193
{
	width: 125px;
}

#u6196
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6189.MuseMenuActive,#u6196:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6196.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6198-4
{
	width: 54px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 30px;
}

#u6111.MuseMenuActive #u6112-4,#u6196:hover #u6198-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6196.MuseMenuActive #u6198-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5797
{
	width: 120px;
	min-height: 53px;
	margin-right: -10000px;
	left: 300px;
}

#u5800
{
	width: 120px;
	padding-bottom: 29px;
}

#u5800:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u5800.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u5801-4
{
	width: 47px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 36px;
}

#u5800:hover #u5801-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u5800.MuseMenuActive #u5801-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u5790
{
	width: 122px;
	min-height: 53px;
	margin-right: -10000px;
	left: 422px;
}

#u5793
{
	width: 122px;
	padding-bottom: 29px;
}

#u5793:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u5793.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u5796-4
{
	width: 49px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 36px;
}

#u5793:hover #u5796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u5793.MuseMenuActive #u5796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u5776
{
	width: 131px;
	min-height: 53px;
	margin-right: -10000px;
	left: 546px;
}

#u5779
{
	width: 131px;
	padding-bottom: 29px;
}

#u5779:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u5779.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u5780-4
{
	width: 58px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 36px;
}

#u5786.MuseMenuActive #u5788-4,#u5779:hover #u5780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u5779.MuseMenuActive #u5780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#work
{
	left: -100px;
	margin-top: 2px;
	position: relative;
}

#u5846-4
{
	z-index: 2;
	width: 916px;
	min-height: 93px;
	background-color: transparent;
	color: #000000;
	font-size: 72px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	position: relative;
}

#pu6244
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 27px;
}

#u6244
{
	z-index: 89;
	width: 150px;
	background-color: #000000;
	border-radius: 100px;
	padding-bottom: 49px;
	position: relative;
	margin-right: -10000px;
}

#u6266
{
	z-index: 92;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 48px;
}

#u6211-4
{
	z-index: 57;
	width: 292px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6212-4
{
	z-index: 61;
	width: 292px;
	min-height: 65px;
	background-color: transparent;
	color: #515A5F;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u6260
{
	z-index: 90;
	width: 150px;
	background-color: #000000;
	border-radius: 100px;
	padding-bottom: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 469px;
}

#u6260:hover
{
	background-color: #76798F;
	width: 150px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6261
{
	z-index: 91;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 48px;
}

#u6214-4
{
	z-index: 65;
	width: 292px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6215-4
{
	z-index: 69;
	width: 292px;
	min-height: 65px;
	background-color: transparent;
	color: #515A5F;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#pu6271
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 30px;
}

#u6271
{
	z-index: 93;
	width: 150px;
	background-color: #000000;
	border-radius: 100px;
	padding-bottom: 49px;
	position: relative;
	margin-right: -10000px;
}

#u6244:hover,#u6271:hover
{
	background-color: #868998;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6283
{
	z-index: 95;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 48px;
}

#pu6211-4,#pu6217-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 157px;
}

#u6217-4
{
	z-index: 73;
	width: 292px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6218-4
{
	z-index: 77;
	width: 292px;
	min-height: 65px;
	background-color: transparent;
	color: #515A5F;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u6272
{
	z-index: 94;
	width: 150px;
	height: 150px;
	background-color: #000000;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 469px;
}

#u6272:hover
{
	background-color: #868998;
	width: 150px;
	height: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu6214-4,#pu6220-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 623px;
}

#u6220-4
{
	z-index: 81;
	width: 292px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6221-4
{
	z-index: 85;
	width: 292px;
	min-height: 65px;
	background-color: transparent;
	color: #515A5F;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u6288
{
	z-index: 96;
	width: 760px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #929DA4;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	border-radius: 100px;
	margin-left: 100px;
	margin-top: 83px;
	position: relative;
}

#pu5845
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 940px;
}

#u5845
{
	z-index: 6;
	min-height: 97px;
	border-color: #000000;
	background-color: #1C1C1C;
	background-color: rgba(0,0,0,0.89);
	padding-bottom: 303px;
	-pie-background: rgba(0,0,0,0.89);
}

#u6038-4
{
	z-index: 12;
	width: 214px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 356px;
}

#u5844-4
{
	z-index: 8;
	width: 214px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 590px;
}

#u5845-bw
{
	z-index: 6;
	min-height: 97px;
}

#u6039
{
	z-index: 7;
	min-height: 44px;
	border-color: #000000;
	background-color: #757575;
	background-color: rgba(0,0,0,0.54);
	padding-bottom: 26px;
	-pie-background: rgba(0,0,0,0.54);
}

#u5845_align_to_page,#u6039_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 962px;
	position: relative;
	left: -99px;
}

#u5843-4
{
	z-index: 16;
	width: 916px;
	min-height: 18px;
	background-color: transparent;
	color: #868B8E;
	font-size: 16px;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u6039-bw
{
	z-index: 7;
	min-height: 44px;
	margin-top: 326px;
}

#u6040-23
{
	z-index: 20;
	width: 214px;
	min-height: 214px;
	background-color: transparent;
	line-height: 1.6;
	font-size: 12px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 356px;
}

#u6040-2,#u6040-4,#u6040-6,#u6040-8,#u6040-10,#u6040-12,#u6040-14,#u6040-16,#u6040-18,#u6040-20
{
	color: #FFFFFF;
}

#u6040-21
{
	color: #868B8E;
}

#u6035-14
{
	z-index: 43;
	width: 214px;
	min-height: 172px;
	background-color: transparent;
	line-height: 1.6;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 590px;
}

#u6307
{
	z-index: 97;
	width: 45px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 936px;
}

.facebookBottom
{
	border-style: none;
	border-color: #000000;
	background-color: #70748C;
	border-radius: 100px;
}

#u6308
{
	z-index: 98;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 7px;
}

#u6310
{
	z-index: 99;
	width: 45px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 987px;
}

#u6307:hover,#u6310:hover
{
	background-color: #00ADF7;
	width: 45px;
	min-height: 0px;
	margin: 340px -10000px 0px 0px;
}

#u6311
{
	z-index: 100;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 8px;
}

body
{
	position: relative;
	min-width: 962px;
}

#page .verticalspacer
{
	clear: both;
}

